<!DOCTYPE html>
<html class="<%= item_slug %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @item[:title] %></title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rokkitt:400,700">
    <link rel="stylesheet" href="/style.css">
    <!--[if lt IE 10]><link rel="stylesheet" href="/ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="/html5.js"></script><![endif]-->
    <meta property="og:image" content="http://genghisapp.com<%= screenshots.first.path %>">
  </head>
  <body lang="en">
    <header>
      <h1><a href="/">Genghis</a></h1>
      <h2>The single-file MongoDB admin app.</h2>
    </header>

    <section id="main">
      <%= yield %>
    </section>

    <a class="fork-me" href="https://github.com/bobthecow/genghis"><img src="https://a248.e.akamai.net/camo.github.com/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

    <footer>
      <div id="share">
        <a class="socialite github-watch" href="https://github.com/bobthecow/genghis" data-user="bobthecow" data-repo="genghis" data-type="watch" data-count="true">
          Watch on GitHub
        </a>

        <a class="socialite github-fork" href="https://github.com/bobthecow/genghis" data-user="bobthecow" data-repo="genghis" data-type="fork" data-count="true">
          Fork on GitHub
        </a>

        <a class="socialite twitter-follow" href="http://twitter.com/bobthecow" data-dnt="true" rel="nofollow" target="_blank">
          Follow @bobthecow
        </a>

        <a class="socialite twitter-share" href="http://twitter.com/share" data-url="http://genghisapp.com" data-dnt="true" rel="nofollow" target="_blank">
          Share on Twitter
        </a>

        <a class="socialite googleplus-one" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=http://genghisapp.com" data-size="medium" data-href="http://genghisapp.com" rel="nofollow" target="_blank">
          Share on Google+
        </a>

        <a class="socialite facebook-like" href="http://www.facebook.com/sharer.php?u=http://genghisapp.com" data-href="http://genghisapp.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="segoe ui" rel="nofollow" target="_blank">
          Share on Facebook
        </a>
      </div>

      <p>Genghis, by <a href="http://justinhileman.info">Justin Hileman</a></p>
    </footer>
    <script src="/script.js"></script>
    <script type="text/javascript">
      var _gaq = [['_setAccount', '<%= @config[:google_analytics][:site_id] %>'], ['_trackPageview']];
      var clicky_site_ids = [<%= @config[:clicky][:site_id] %>];
      (function(d, t, gs, cs) {
        var g = d.createElement(t); g.async = true; g.src = gs;
        var c = d.createElement(t); c.async = true; c.src = cs;
        var s = d.getElementsByTagName(t)[0];
        s.parentNode.insertBefore(g, s);
        s.parentNode.insertBefore(c, s);
      })(document, 'script',
        ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js',
        ('https:' == location.protocol ? 'https://' : 'http://') + 'static.getclicky.com/js');
    </script>
    <noscript><img alt="" width="1" height="1" src="http://in.getclicky.com/<%= @config[:clicky][:site_id] %>ns.gif" /></noscript>
  </body>
</html>
